<div class="bg-white border-[20px] border-[#7c67ab] outline outline-4 outline-[#AAAAA] p-4 rounded-lg font-gba text-shadow">
    <ul class="space-y-4 text-black text-6xl">
      <li *ngFor="let item of menuItems" 
          class="hover:border-4 hover:border-red-500 hover:rounded cursor-pointer transition-all duration-100"
          [class.active]="router.isActive(item.link, false)">
        <a [routerLink]="item.link" routerLinkActive="active-link" class="block w-full h-full p-1 cursor-pointer">
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>