@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'pokefont';
    src: url('assets/fonts/pokefont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

.text-shadow{
    text-shadow: 4px 4px 0 #cacaca;
}
